<ion-view title="我">
    <ion-content>
        <div class="me-bg">
            <img ng-show="!user.avatar_large" src="img/ionic.png" style="border-radius: 50%;">
            <img ng-show="user.avatar_large" ng-src="{{user.avatar_large}}" ui-sref="account()">

            <h5 class="white text-shadow">{{user.username}}</h5>
            <div>{{user.description}}</div>
            <!--<div>{{user.location}}</div>-->
            <!--<button ng-click="logout()" ng-show="user">注销</button>-->
            <button ng-click="logIn()" ng-show="!user">新浪登陆</button>
        </div>

        <div class="list">

            <div class="item item-divider">

            </div>
            <a class="item" ui-sref="XyByMe()">
                我的说说
            </a>
            <a class="item" ng-click="goUrl()">
                我的金币:<span style="color: red">{{user.coin}}</span> ,快去参与礼包兑换
            </a>
            <a class="item" ui-sref="SubmitBugs()">
                产品吐槽，赢取金币
            </a>

            <div class="item item-divider">
                系统
            </div>

            <a class="item" href="#">
                当前版本 {{$rootScope.appVersion}}
            </a>
            <a class="item" href="#">
                #风斗士#人可以穷，只要他有目标敢于追求，他就是伟大的！
            </a>
        </div>

    </ion-content>
</ion-view>
