<ion-view title="我">
    <ion-content>
        <ion-refresher on-refresh="refreshMyXy()"></ion-refresher>
        <div class="me-bg">
            <img ng-show="!user.avatar_large" src="img/ionic.png" style="border-radius: 50%;">
            <img ng-show="user.avatar_large" ng-src="{{user.avatar_large}}">

            <div>{{user.screen_name}}</div>
            <div>{{user.description}}</div>
            <div>{{user.location}}</div>
            <button ng-click="logout()" ng-show="user">注销</button>
            <button ng-click="logIn()" ng-show="!user">新浪登陆</button>
        </div>

        <div class="list">

            <div class="item item-divider">

            </div>
            <a class="item" ui-sref="XyByMe()">
                我的说说
            </a>
            <a class="item" ng-click="goUrl()">
                新消息
            </a>
            <a class="item" href="#">
                好礼相送
            </a>
            <a class="item" href="#">
                大师作品
            </a>


            <div class="item item-divider">
                系统
            </div>

            <a class="item" href="#">
                当前版本
            </a>
            <a class="item" href="#">
                #风斗士#
            </a>
        </div>


    </ion-content>
</ion-view>
