<ion-view title="毕业墙">
    <ion-nav-buttons side="right">
        <button class="button button-clear icon ion-ios-compose-outline" ui-sref="addXy()">
        </button>
    </ion-nav-buttons>

    <ion-content>
        <ion-refresher on-refresh="hardRefresh()"></ion-refresher>
        <ion-list>
            <ion-item class="xy-item" ng-repeat="item in results|filter:''">
                <div class="item item-avatar" ng-click="goXyDetail(item)">
                    <img ng-src="{{item.get('userId').get('avatar_large')}}" onerror="javascript:this.src='img/ionic.png'">
                    <div class="item-title-row">
                        <div class="item-title">{{item.get('userId').get('nick')}}</div>
                        <div class="item-after">{{dateFn(item.createdAt)}}</div>
                    </div>
                    <p ng-show="item.get('userId').get('description').length==0">{{item.get('userId').get('location')}}</p>
                    <p ng-show="item.get('userId').get('description').length>0">{{item.get('userId').get('description')}}</p>
                </div>

                <div class="item item-body">
                    <img class="full-image" ng-show="item.get('image_small')" ng-click="goXyDetail(item)"
                         onerror="javascript:this.src='img/weibo.jpg'" ng-src="http://file.bmob.cn/{{item.get('image_small')}}">
                    <p style="margin: 10px" >{{item.get('title')}}</p>

                    <div style="padding-left: 16px;" ng-init="item.showZan=false">
                        <a class="button button-icon icon ion-ios-heart" ng-class="{'ion-ios-heart-outline':zanCount[$index].showZanSelf>0}" ng-click="goZan(item,$index);item.showZan=!item.showZan">
                            <span ng-show="!item.showZan">{{zanCount[$index].showZanCount}}</span>
                            <span ng-show="item.showZan">{{zanCount[$index].showZanCount+1}}</span>
                        </a>

                        <a class="button button-icon icon ion-ios-chatbubble-outline" ng-click="goXyDetail(item)"> {{commentCount[$index]}}</a>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
                ng-if="more"
                icon="ion-loading-c"
                on-infinite="loadMorePost()"
                distance="1%">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
<script id="xy-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar class="bar-assertive">
            <button class="button button-clear" ng-click="closeModal()">返回</button>
            <h1 class="title">{{item.get('userId').get('nick')}}</h1>
        </ion-header-bar>
        <ion-content>

            <ion-item class="xy-item bt0">
                <div class="item item-avatar">
                    <img ng-src="{{item.get('userId').get('avatar_large')}}" onerror="javascript:this.src='img/ionic.png'">
                    <!--<img src="mcfly.jpg" onerror="javascript:this.src='img/ionic.png'">-->
                    <p class="mb5">{{item.createdAt}}</p>
                    <p ng-show="item.get('userId').get('description').length==0">{{item.get('userId').get('location')}}</p>
                    <p class="ws-normal" ng-show="item.get('userId').get('description').length>0">{{item.get('userId').get('description')}}</p>
                    <!--<p class="ws-normal">{{item.get('userId').get('description')}}</p>-->
                </div>

                <div class="item item-body">
                    <ion-scroll direction="xy" zooming="true" min-zoom="1" max-zoom="3" class="image fit">
                        <img class="fit" style="width:100%" ng-src="{{item.get('image')._url}}" onerror="javascript:this.src='img/weibo.jpg'"/>
                    </ion-scroll>
                    <div style="padding-left: 16px;">
                        <!--<p>{{item.get('title')}}</p>-->
                        <!--<p>{{item.createdAt}}</p>-->
                        <a class="button button-icon icon ion-ios-heart-outline" ng-click="goZan(item)"> 1</a>
                        <!--<a class="button button-icon icon ion-ios-heart">1</a>-->
                        <a class="button button-icon icon ion-ios-chatbubble-outline" ng-click="goChat(item)"> 1</a>
                        <!--<a class="subdued" ng-click="goZan(item)">1</a>-->
                        <!--<a href="#" class="subdued">5 Comments</a>-->
                        <!--</p>-->
                        <div ng-bind-html="article"></div>
                        <!--<form ng-submit="saveForm()">-->
                            <!--<input placeholder="添加评论..." type="text">-->
                        <!--</form>-->

                    </div>
                </div>

                <ion-item class="xy-item" ng-repeat="item in commentResults|filter:''">
                    <div class="item item-avatar">

                        <div class="item-title-row">
                            <div class="item-title">{{item.get('userId').get('nick')}}</div>
                            <div class="item-after">{{dateFn(item.createdAt)}}</div>
                        </div>
                        <div>{{item.content}}</div>
                    </div>
                </ion-item>
            </ion-item>
            <div style="height: 64px;width: 100%">
            </div>
        </ion-content>
        <div class="bar bar-footer">
            <form ng-submit="saveForm(item, addCommentText)">
                <input placeholder="添加评论..." ng-model="addCommentText" type="text" required>
            </form>
            <!--disabled="msg.length==0"-->
            <button class="button button-clear pull-right"  ng-show="addCommentText.length>0" ng-click="saveForm(item,addCommentText)">发送</button>
        </div>
    </ion-modal-view>
</script>
