<ion-view title="登录">

    <ion-content has-header="true" padding="true">

        <div class="list">
            <label class="item item-input">
                <span class="input-label">用户名</span>
                <input type="text" placeholder="请输入用户名">
            </label>
            <label class="item item-input">
                <span class="input-label">密码</span>
                <input type="password" placeholder="请输入密码">
            </label>
            <label class="item item-input item-select">
                <div class="input-label">
                    性别
                </div>
                <select>
                    <option selected>男</option>
                    <option>女</option>
                </select>
            </label>
        </div>

        <button class="button button-block bar bar-assertive button-positive" ui-sref="tab.dash()">
            登录
        </button>

    </ion-content>

</ion-view>