<ion-view title="写下心情">

    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="addXy()">
            说出来
        </button>
    </ion-nav-buttons>

    <ion-content has-header="true" padding="true" on-touch="onDragUpTimeline()" on-scroll="onScrollTimeline()">
        <ion-nav-back-button></ion-nav-back-button>

        <div class="list">
            <label class="item item-area mb-10">
                <textarea class="w100" rows="4" placeholder="#我听见你用唇语说爱情#" ng-model="xy.content"></textarea>
                <span ng-show="location" class="loc-span"><i class="ion ion-ios-location"></i> {{location}}</span>
            </label>
            <ion-toggle class="toggle-assertive item item-toggle toggle-large" ng-model="checked" ng-checked="checked">发布到新浪微博</ion-toggle>

            <div class="item item-image" ng-show="cameraimage">
                <img class="item" ng-src="{{cameraimage}}" style="height: 350px;"/>
            </div>

        </div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="button-bar">
            <a href="" class="button button-clear ion-ios-camera" ng-click="goCamera()"></a>
            <a href="" class="button button-clear ion-ios-photos" ng-click="goPhoto()"></a>
        </div>
    </div>

</ion-view>