/* Empty. Add your own CSS if you like */

.me-bg {
    background-image: url(../img/weibo.jpg);
    height: 200px;
    background-size: 100%;
    width: 100%;
    text-align: center;
}

.me-bg img {
    border-radius: 50%;
    height: 80px;
    margin-top: 40px;
}

.xy-item {
    padding: 0;
    /*border-width: 0px;*/
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.xy-item .item-avatar img{
    max-width: 44px;
    max-height: 44px;
    top:12px;
    left:12px;
}
.xy-item .item-avatar{
    padding-top:10px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 68px;
    min-height: 68px;
    border-bottom: 0;
}
.xy-item .item-body{
    border-top: 0;
    padding: 0;
}
.xy-item:first-child{
    border-top:0;
}
.xy-item .button-icon:before{
    font-size: 24px;
}
.w100{
    width: 100%;
}
.bar-footer .button-clear:before{
    line-height: 32px;
    font-size: 32px;
}
.xy-item .item-body input{
    width: 100%;
    margin-top: -10px;
    padding-left: 7px;
}
.item-input.item-select{
    min-height: 50px;
}
.ws-normal{
    white-space: normal !important;
}
.bt0{
    border-bottom: 0;
    box-shadow: none;
}
.item-title-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-weight: 900;
    margin-bottom: 5px;
}
.item-title {
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    flex-shrink: 1;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.item-after {
    white-space: nowrap;
    color: #8e8e93;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    margin-left: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    max-height: 28px;
    font-size: 14px;
    font-weight: normal;
}
.mb5{
    margin-bottom: 5px;
}
.bar.bar-dark{
    background-color: #000;
    border: #000;
    background-image: none;
}
.has-vertical {
    background: #000;display: -webkit-box;
    width: 100%;
    -webkit-box-sizing: border-box;
    -webkit-box-align: center;
}

.ui-input-wrap {
    background-color: #ebeced;
    height: 44px;
    display: -webkit-box;
    -webkit-box-align: center;
}

.ui-border-t, .ui-border-b, .ui-border-tb {
    background-repeat: repeat-x;
    -webkit-background-size: 100% 1px;
}

.ui-border-t {
    background-position: left top;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #e0e0e0), to(#e0e0e0));
}

.ui-border-t, .ui-border-b, .ui-border-l, .ui-border-r, .ui-border-tb {
    border: 0;
}

.ui-border-t {
    width: 100%;
    border-top: 1px solid #e0e0e0;
}
.ui-input {
    height: 30px;
    line-height: 30px;
    margin: 7px 10px;
    background: #fff;
    padding-left: 10px;
    -webkit-box-flex: 1;
}
.ui-border-radius {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
.ui-border-radius {
    position: relative;
    border: 0;
}
.ui-input input {
    width: 100%;
    height: 100%;
    border: 0;
    background: 0 0;
    -webkit-appearance: none;
    outline: 0;
}
.ui-input-wrap .ui-btn{
    margin-right: 10px;
}
.p0{
   padding: 0;
}
.ui-btn {
    height: 30px;
    line-height: 30px;
    padding: 0 11px;
    min-width: 55px;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 15px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#fff),to(#fafafa));
    vertical-align: top;
    color: #EF473A;
    -webkit-box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #cacccd;
    border-radius: 3px;
    border: 0;
}
.ui-btn:before {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #cacccd;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    padding: 1px;
    -webkit-box-sizing: border-box;
    border-radius: 6px;
    pointer-events: none;
}
.ui-btn:after {
    content: "";
    position: absolute;
    top: -7px;
    bottom: -7px;
    left: 0;
    right: 0;
}
.ui-btn:disabled {
    border: 0;
    color: #ccc;
    background: #e9ebec;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.ui-btn:disabled {
    border: 1px solid #e9ebec;
}
.f12{
    font-size: 12px;
}
.item-area{
    border-radius: 6px;
}
