/* Empty. Add your own CSS if you like */

.me-bg {
    background-image: url(../img/weibo.jpg);
    height: 200px;
    background-size: 100%;
    width: 100%;
    text-align: center;
}

.me-bg img {
    border-radius: 50%;
    height: 80px;
    margin-top: 40px;
}

.xy-item {
    padding: 0;
    border:0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.xy-item .item-avatar img{
    max-width: 44px;
    max-height: 44px;
    top:12px;
    left:12px;
}
.xy-item .item-avatar{
    padding-top:10px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 68px;
    min-height: 68px;
    border-bottom: 0;
    border: 0;
}
.xy-item .item-body{
    border-top: 0;
    padding: 0;
}
.xy-item:first-child{
    border-top:0;
}
.xy-item .button-icon:before{
    font-size: 24px;
}
.w100{
    width: 100%;
}
.bar-footer .button-clear:before{
    line-height: 32px;
    font-size: 32px;
}
.xy-item .item-body input{
    width: 100%;
    margin-top: -10px;
    padding-left: 7px;
}
.item-input.item-select{
    min-height: 50px;
}
.ws-normal{
    white-space: normal !important;
}
.bt0{
    border-bottom: 0;
    box-shadow: none;
}
.item-title-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    font-weight: 900;
    margin-bottom: 5px;
}
.item-title {
    -webkit-flex-shrink: 1;
    -ms-flex: 0 1 auto;
    flex-shrink: 1;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.item-after {
    white-space: nowrap;
    color: #8e8e93;
    -webkit-flex-shrink: 0;
    -ms-flex: 0 0 auto;
    flex-shrink: 0;
    margin-left: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    max-height: 28px;
    font-size: 14px;
    font-weight: normal;
}
.mb5{
    margin-bottom: 5px;
}
.bar.bar-dark{
    background-color: #000;
    border: #000;
    background-image: none;
}
.has-vertical {
    background: #000;display: -webkit-box;
    width: 100%;
    -webkit-box-sizing: border-box;
    -webkit-box-align: center;
}

.ui-input-wrap {
    background-color: #ebeced;
    height: 44px;
    display: -webkit-box;
    -webkit-box-align: center;
}

.ui-border-t, .ui-border-b, .ui-border-tb {
    background-repeat: repeat-x;
    -webkit-background-size: 100% 1px;
}

.ui-border-t {
    background-position: left top;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, transparent), color-stop(0.5, #e0e0e0), to(#e0e0e0));
}

.ui-border-t, .ui-border-b, .ui-border-l, .ui-border-r, .ui-border-tb {
    border: 0;
}

.ui-border-t {
    width: 100%;
    border-top: 1px solid #e0e0e0;
}
.ui-input {
    height: 30px;
    line-height: 30px;
    margin: 7px 10px;
    background: #fff;
    padding-left: 10px;
    -webkit-box-flex: 1;
}
.ui-border-radius {
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
.ui-border-radius {
    position: relative;
    border: 0;
}
.ui-input input {
    width: 100%;
    height: 100%;
    border: 0;
    background: 0 0;
    -webkit-appearance: none;
    outline: 0;
}
.ui-input-wrap .ui-btn{
    margin-right: 10px;
}
.p0{
   padding: 0;
}
.ui-btn, .ui-btn-lg{
    height: 30px;
    line-height: 30px;
    padding: 0 11px;
    min-width: 55px;
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 15px;
    background-color: #fdfdfd;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#fff),to(#fafafa));
    vertical-align: top;
    color: #EF473A;
    -webkit-box-sizing: border-box;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #cacccd;
    border-radius: 3px;
    border: 0;
}
.ui-btn:before {
    content: "";
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #cacccd;
    -webkit-transform: scale(0.5);
    -webkit-transform-origin: 0 0;
    padding: 1px;
    -webkit-box-sizing: border-box;
    border-radius: 6px;
    pointer-events: none;
}
.ui-btn:after {
    content: "";
    position: absolute;
    top: -7px;
    bottom: -7px;
    left: 0;
    right: 0;
}
.ui-btn:disabled {
    border: 0;
    color: #ccc;
    background: #e9ebec;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.ui-btn:disabled {
    border: 1px solid #e9ebec;
}
.f12{
    font-size: 12px;
}

.white{
    color: #fff;
}
.text-shadow{
    text-shadow: 0 1px rgba(0, 0, 0, 0.5);
}
.ui-btn-wrap {
    padding: 15px 10px;
}
.ui-btn-lg {
    font-size: 18px;
    height: 44px;
    line-height: 44px;
    display: block;
    width: 100%;
    border-radius: 5px;
}
.ui-btn-danger {
    background-color: #f75549;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0.5,#fc6156),to(#f75549));
    color: #fff;
    border-color: #f43d30;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
.ui-btn-lg, .ui-btn-s {
    position: relative;
    border: 0;
}
.wrap{
    margin:0px auto;
    width:800px;
}
#dataYear{
    position:absolute;
    background:#ED473B;
    left:60%;
    top:0px;
    color:white;
    padding:0px 10px;
}

.header{
    min-width:400px;
    width:90%;
    position:fixed;
    top:0px;
    margin:0px auto;
    background:#fff;
    z-index:1;
    padding-left:15%;
    padding-right:15%;
    font-size:35px;
    color:#c9c9c9;
    box-shadow:0 0 5px 0px #ccc;
}
.timeline{
    width:100%;
    margin:10px 0px 10px 0px;
    padding-top: 20px;
    margin-top: -20px;
    position: relative;
    overflow:auto;
}
.timeline:before {
    content: '';
    display: block;
    position: absolute;
    left: 42px;
    top: 100px;
    width: 1px;
    height: 100%;
    background: rgba(153, 153, 153, 0.5);
}
.year{
    transition: all 0.4s ease-in-out;
    width:100%;
    margin-bottom:50px;
    position: relative;
    overflow:auto;
}
.evt{
    min-height:100px;
    width:100%;
    margin-bottom:20px;
    position:relative;
}

.evt:nth-child(even) .in{
    float: none;
    margin-left: 86px;
}
.evt:nth-child(odd) .in{
    float: none;
    margin-left: 86px;
}
.timeline p{
    padding: 10px;
    margin: 0;
    font-size: 14px;
    background: #f1f1f1;
    color: #656565;
}
h2{
    padding: 15px;
    margin: 0;
    color: #333;
    font-size: 20px;
    letter-spacing: -1px;
    position: relative;
}

.in h2{
    /*border-radius: 5px 5px 0 0;*/
    background:#F1F1F1;
    color: #666;
    font-size: 14px;
    padding: 10px 5px 10px 5px;
}
.date{
    transition: all 0.2s ease-in-out;
    display: block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 10px;
    left: 10px;
    line-height:60px;
    border-radius: 100%;
    font-size: 16px;
    background: #3988EF;;
    color: #fff;
    font-weight:900;
    text-align:center;
    border: 2px solid #fff;
}
.in{
    margin: 5px 0 0 0;
    width: 100%;
    float: left;
    padding-right: 96px;
}
.activeYear{
    background:#ED473B;
    color:#fff;
    border-color:#fff;
}
.data{
    padding: 5px;
}
.data .item-note{
    line-height: 48px;
}
.del-btn{
    background-color: #F47A71;
    border: 0;
    position: absolute;
    top: 0px;
    right: 10px;
    color: white;
    border-bottom-left-radius: 50%;
}
.date .day{
    font-size: 24px;
}
.date .month{
    font-size: 12px;
}
.mb-10{
    margin-bottom: -10px;
}
.loc-span{
    color: #8BA7E5;
    font-size: 12px;
    border-radius: 6px;
    border: 1px solid #9FB7E9;
    padding: 2px 6px;
    margin-left: 4px;
    margin-bottom: 8px;
    display: inline-block;
}
.ion-social-usd-outline{
   color:#F89959
}
.log-span{
    background-color: red;
    color: white;
    border-top-left-radius: 12px;
    padding: 0 6px;
    border-bottom-right-radius: 12px;
}
.item-icon-right{
    padding-right: 36px;
}

#l-map{height:100%;width:100%;}

.slider{
    height: 100%;
}
.tc{
    text-align: center;
}
.tabs-item-hide ion-tab{
    display: none;
}
.height100 .scroll{
    height: 100%;
}
.bar.bar-assertive{
    background-color: rgb(234,103,162)
}
.tabs-striped.tabs-color-assertive .tab-item.tab-item-active{
    color: rgb(234,103,162);
    border: 0 solid rgb(234,103,162);
}
.tabs-striped .tabs {
    background-color: #F5F5F5;
}
.tabs-striped.tabs-color-assertive .tab-item {
    color: rgba(84, 60, 58, 0.4);
    opacity: 1;
}
.bar.bar-assertive{
    border-color:rgb(234,103,162);
    background-image:none;
}
.tabs-color-assertive .tab-item.tab-item-active, .tabs-color-assertive .tab-item.active, .tabs-color-assertive .tab-item.activated {
    color: #EA67A2;
    border: 0 solid #EA67A2;
}
.tabs-color-assertive .tab-item {
    color: rgba(234, 103, 162,0.4);
    opacity: 1;
}
.f16{
    font-size: 16px;
}
.button.ion-ios-heart{
    color: red;
}
.button.ion-ios-chatbubble-outline{
    color: limegreen;
}
.zan-area{
    padding-left: 16px;
    background-color: rgba(234, 103, 162, 0.2);
    margin-top: -4px;
}

.transparent {
    background: transparent !important;
}
.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
.fullscreen-image {
    max-width: 70%;
    max-height: 70%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
.customTrans {
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -ms-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
.long-img{
    position: absolute;
    right: 12px;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    font-size: 12px;
    padding: 0 5px;
}
.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }
}
.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeOutDown {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes fadeOutDown {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        -ms-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}
.fab-button {
    background-color: rgb(234, 103, 162);
    position: fixed;
    bottom: 65px;
    right: 20px;
    border-radius: 50%;
    -webkit-appearance: none;
    box-sizing: border-box;
    border: none;
    z-index: 20;
    width: 56px;
    height: 56px;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
    -webkit-transition-property: -webkit-transform, box-shadow;
    transition-property: transform, box-shadow;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}
.fab-button.activated {
    opacity: 0.9;
    -webkit-transform: translate3d(0, -1px, 0);
    transform: translate3d(0, -1px, 0);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}
.fab-button .icon {
    font-size: 24px;
    color: #ffffff;
}
.item-checkbox .checkbox{
    left: 75%;
}
.item-check{
    width: 50%;
    padding-left: 20px;
    margin-top: 10px;
    float: left;
    border: 0;
    border-right: 10px solid white;
    background-color: #ddd;
    color: #EA67A2;
}

.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background: #EA67A2;
    border-color: #EA67A2;
}
.button.button-positive.activated {
    background-color: #EA67A2;
    border-color: #EA67A2;
}